body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#mainBody {
    flex: 1;
}
header, footer {
    color: white;
    background-color: #333;
    text-align: center;
    padding: 20px;
}